.modalCadastroNovo-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .modalCadastroNovo{
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 80vh;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;

        .modalCadastroNovo-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .modalCadastroNovo-dadosPessoais{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 60%;

                .modalCadastroNovo-dadosPessoais-title{
                    height: 10%;
                }
                div{
                    display: flex;
                    width: 100%;
                    height: 20%;
                    gap: 2rem;
                }
            }
            .modalCadastroNovo-dadosEndereco{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 40%;

                .modalCadastroNovo-dadosEndereco-title{
                    height: 15%;
                }
                div{
                    display: flex;
                    width: 100%;
                    height: 30%;
                    gap: 2rem;
                }
                .modalCadastroNovo-dadosEndereco-buttons{
                    align-items: center;
                    justify-content: end;
                }
            }
        }
    }
}

@media screen and (max-height: 750px) {
    .modalCadastroNovo-background{
        .modalCadastroNovo{
            width: 60vw;
            height: 90vh;

            .modalCadastroNovo-dadosPessoais{
                div{
                    p{
                        font-size: 12px;
                    }
                    input{
                        font-size: 12px;
                        height: 2rem;
                    }
                    select{
                        font-size: 12px;
                        height: 2rem !important;
                    }
                }
            }
            .modalCadastroNovo-dadosEndereco{
                div{
                    p{
                        font-size: 12px;
                    }
                    input{
                        font-size: 12px;
                        height: 2rem;
                    }
                    
                    select{
                        font-size: 12px;
                        height: 2rem !important;
                    }
                }
            }
        }
    }
}