.agendamento{
    width: 95vw;
    height: 90vh;
    margin-top: 10vh;
    margin-left: 5vw;

    .agendamento-header{
        width: 93vw;
        margin-left: 2vw;
    }

    .agendamento-body{
        width: 93vw;
        height: 85vh;
        margin-left: 2vw;
        padding: 20px 3vw 5vh 0;

        .agendamento-container{
            background-color: var(--backgroundPages-color);
            width: 100%;
            height: 100%;
            border-radius: 15px;
            display: flex;

            .agendamento-container-left{
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                padding-top: 20px;
                
                @media screen and (max-height: 750px) {
                    padding-top: 50px;
                    width: 15%;
                }
                .agendamento-container-left-calendario{
                    width: 90%;
                    height: 35%;
                    
                }
            }
            
            .agendamento-container-mid{
                width: 80%;
                height: 100%;

                .agendamento-container-mid-calendario{
                    width: 100%;
                    height: 85%;
                    
                }

                .agendamento-container-left-buttons{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 15%;
                    gap: 20px;
                }
            }
        }
    }    
}


