:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --input-color-grey: #EFEFEF;
    --input-color-grey2: #9B9B9B;
    --primary-color: #BFEF9E;
    --secondary-color: #70A94A;
    --sidebar-color: #6DA647;
    --titleHeader-color: #999999;
    --backgroundPages-color: #BFEF9E;
    --buttonColor: #70A94A;
    --daysColor: #70A94A;

    --gradientHeader: linear-gradient(90deg, #FFFFFF 22%, #6DA647 73%);
}

* {
    font-family: var(--font-mono);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    select {
        outline: none;
    }

    input{
        outline: none !important;
    }
    .disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }

    button {
        cursor: pointer;
        border: none;
        outline: none !important;
      }
}